<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>History Machine</title>

  <link rel='shortcut icon' href='images/globe.png' type='image/x-icon'/ >

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

  <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>

  <style>
    #mapid { height: 600px; border: 1px black solid; }
  </style>



</head>
<body>
  <h1>Hello Kat</h1>
  <div id="mapid"></div>


  <script>



      $(document).ready(function(){

        navigator.geolocation.getCurrentPosition(foundLocation, noLocation);

        function foundLocation(position) {
          var lat = position.coords.latitude;
          var lon = position.coords.longitude;
          var userLocation = lat + ', ' + lon;
          console.log(userLocation);

          var places = $.get('/home', {userLocation}).done(function(){
            console.log('inda funk');
            var markers = places.responseJSON.data.map(function(row){
              return {lat: row.lat,
                      lng: row.long,
                      name: row.name}
            });
            console.log(markers);

            var markerArray = [];
            for ( var i = 0; i < markers.length; i ++) {
              marker = new L.marker(markers[i]).addTo(mymap);

              markerArray.push(L.marker([markers[i].lat, markers[i].lng]));
              marker.bindPopup(markers[i].name);
            }

            var group = L.featureGroup(markerArray);
            mymap.fitBounds(group.getBounds());

          });
        }

        function noLocation() {
         var places = $.get('/places').done(function(){
           console.log('inda nofunk');
           var markers = places.responseJSON.data.map(function(row){
              return {lat: row.lat,
                      lng: row.long,
                      name: row.name}
            });
            console.log(markers[0])
            for ( var i = 24; i < markers.length; i ++) {
              marker = new L.marker(markers[i]).addTo(mymap);
              marker.bindPopup(markers[i].name);
            }
         });

        }


        var mymap = L.map('mapid').setView([43, -74.17], 6);

        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
          attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
          maxZoom: 18,
          id: 'ml242.1ko3kd97',
          accessToken: 'pk.eyJ1IjoibWwyNDIiLCJhIjoiY2l1NzJydHNxMGoybjJvbzEzNm5oMGttdyJ9.hb3qmrRSNV_lkmgKsDyezw'
        }).addTo(mymap);

          // $.get('/places') but not returning geoJSON, we need to return the one column of geojson from postgres which doesn't exist yet



      })

  </script>
</body>
</html>
